
/* Header */

#title {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
    background-color: darkolivegreen;
    color: #ffffff;
}

/* /Header */

/* Main */
/* Form */

#question-form {
    text-align: center;
    padding: 40px 40px;
}

#question-form input {
    font-family: 'Roboto Condensed', sans-serif;
}

input[type="submit" i] {
    background-color: darkolivegreen;
    border: none;
    color: #ffffff;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    margin-left: 4px;
}

/* /Form */

/* Main */